* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.35;
    font-family: 'Montserrat', sans-serif;
  }

  .structureGrid{
    display:grid;
  }

  .structure-col1 {
    display: grid;
     grid-template-columns: auto auto;
    justify-content: center;
    margin: 4em auto;
    grid-column-gap: 15em;
    max-width: 77.5em; 
  }
  .structure-col1-title {
    margin: 0;
    max-width: 8em;
    align-self: center;
    font-size: 3.75em;
    padding-right: 6px;
    color:rgb(209, 22, 116)
  }
   
  .structure-col1-img {
    width: 25em;
    margin-right: -1em; 
  }

  .structure-col2 {
    display: grid;
     grid-template-columns: auto auto;
    justify-content: center;
    margin: 4em auto;
    grid-column-gap: 15em;
    max-width: 68.5em; 
  }
  .structure-col2-title{
    color:rgb(80, 12, 12);
    font-size:2.14em;
    max-width: 13em;
    padding-right: 6px;
  }
  .structure-col2-paragraph{
    color:rgb(54, 52, 52);
  }
.structure-col3{
    display:grid;
    margin-top:5em;
    justify-content: center;
    margin-bottom: 8em;
}
.structure-col3-title{
    text-align: center;
    color:rgb(209, 22, 116);
    font-size: 2.05em;

}
  .structure-col3-icon{
    width:2em
  }
  .structure-col3-grid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    justify-content: center;
  }
  .structure-col3-box{
    width:15em;
    border: 0.35px solid rgb(233, 224, 224);
  padding: 10px;
  box-shadow: 0px 5px 5px rgb(209, 22, 116);
  }
  .structure-col4-grid{
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap:2em
  }
  .structure-col4-title{
    text-align: center;
    color:rgb(80, 12, 12);
    font-size: 1.55em;

  }
  .structure-col4{
    display:grid;
    margin-bottom: 3em;
  }

  @media screen and (max-width: 1024px) {
    .structureGrid{
        overflow-x: hidden;
    }
    .structure-col1 {
        grid-template-columns: unset;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1em;
    }
    .structure-col1-title {
        font-size: 2.2em;
        margin: 1.125em 0 0;
        max-width: 9em;
        text-align: center;
    }

    .structure-col1-img {
        height: 14.875em;
        width: 100%;
        margin-left: 0;
    }
    .structure-col2 {
        grid-template-columns: unset;
        display: flex;
        flex-direction: column-reverse;
        margin-top:1em;
       
        
    }
    .structure-col2-title {
      font-size: 2em;
      max-width: 15em;
      text-align: center;
      
  }
  .structure-col2-paragraph {
   text-align: center;
  }
.structure-col3{
  margin-top:0.45em;
  margin-bottom: 4em;
}
   .structure-col3-grid{
        grid-template-columns: unset;
        display: flex;
        flex-direction: column-reverse; 
        justify-content: center;
        align-content: center;
        width:20em;
        margin-left: 3em;
    }
    
    }